<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--        Spring配置，处理控制器不扫，其他都要扫-->
        <context:component-scan base-package="com.hsz">
            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        </context:component-scan>
    <context:property-placeholder location="classpath:dbconfig.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
    </bean>
<!--    配置所有mybatis操作数据库-->

<!--    配置事务控制-->
<!--    配置事务过管理器，让他控制住数据源-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
<!--    基于xml，配置事务，用aop切面-->
    <aop:config>
        <aop:pointcut id="txPoint" expression="execution(* com.hsz.service.*.*(..))"/>
<!--        advice-ref 事务建议-->
        <aop:advisor advice-ref="myTX" pointcut-ref="txPoint"/>
    </aop:config>

<!--    配置事务建议    transaction-manager指定要配置的事务管理器的id-->
    <tx:advice id="myTX" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" rollback-for="java.lang.Exception"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
<!--可以根据配置文件得到SqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sessionFactory">
<!--        指定配置文件的位置-->
        <property name="configLocation" value="classpath:mybatis/mybatis_config.xml"/>
<!--        得到数据源-->
        <property name="dataSource"  ref="dataSource"/>
<!--        指定xml映射文件位置-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
     </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="configurer">
<!--        指定dao接口所在的包-->
        <property name="basePackage" value="com.hsz.dao"/>
    </bean>
</beans>